################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

*.suo
*.pdb
*.cache
/HARTCTR/SOURCE/CLASS/_Class/BelicsClass.AllInOne/obj
/HARTCTR/SOURCE/TOOLS/LogisticAgvCommunicateTester/obj
/HARTCTR/SOURCE/PROGRAM/obj
/HARTCTR/BIN/LOG
/HARTCTR/SOURCE/CLASS/AgvController/obj/Debug/.NETFramework,Version=v4.6.1.AssemblyAttributes.cs
/HARTCTR/SOURCE/CLASS/HokushoClass/obj/Debug/.NETFramework,Version=v4.6.AssemblyAttributes.cs
/HARTCTR/SOURCE/CLASS/HokushoClass.Use/Labeler/obj/Debug/.NETFramework,Version=v4.6.AssemblyAttributes.cs
/HARTCTR/SOURCE/CLASS/_Class/BelicsClass.AllInOneCompact/obj/Debug/.NETFramework,Version=v4.6.1.AssemblyAttributes.cs
